<tr class="resume text-unimportant">
    <th scope="row"></th>
    <th scope="row"></th>
    <td *ngFor="let d of daysToShow" class="text-center" [ngClass]="{today: d.today}">
        <div *ngFor="let s of getShiftsCount(d)">
            <span class="">{{ s.count }}{{ s.code }}</span>
        </div>
    </td>
</tr>
<tr class="resume">
    <th scope="row"></th>
    <th scope="row"></th>
    <td *ngFor="let d of daysToShow" [ngClass]="{today: d.today}">
        <div>
            <span class="float-right">{{ getOffsetCount(d)[0] }}</span>
            <fa-icon [icon]="faUniversity"></fa-icon>
        </div>
        <div>
            <span class="float-right">{{ getOffsetCount(d)[1] }}</span>
            <fa-icon [icon]="faHouseUser"></fa-icon>
        </div>
    </td>
</tr>