.shifts-table {
    color: rgb(85, 85, 85);
}

.shifts-table th {
    font-size: small;
    font-weight: normal;
}

.shifts-table th.man-name {
    min-width: 30ex;
}

.shifts-table th.holyday {
    background: #eee;
}

.shifts-table th.today {
    background-color: rgb(248, 230, 196);
}

.shifts-table .today {
    font-weight: bold;
    background-color:rgb(252, 244, 230);
    color: rgb(105, 68, 0);
    filter: drop-shadow(.3ex .3ex .3ex rgb(139, 131, 116));
}

.shifts-table th.notCurMonth {
    background-color: #eee;
}

.shifts-table .notCurMonth {
    filter: blur(1px) brightness(105%);
}

.shifts-table .holyday {
    background: repeating-linear-gradient( 40deg, transparent, transparent 10px, #fff 10px, #eee 20px)
}

.shifts-table .text-unimportant {
    color: silver;
}