<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="#">
        <fa-icon [icon]="faUserNinja"></fa-icon>
        Turni CED
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/day-report" routerLinkActive="active-link">
                    Sintesi
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/shifts" routerLinkActive="active-link">
                    Griglia
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/calendar"  routerLinkActive="active-link">Calendario</a>
            </li>
        </ul>
    </div>
</nav>