* {
    color: gray;
}

.shift-code, .shift-count {
    font-size: 180%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shift-desc {
    font-size: 85%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.surname {
    font-size: 120%;
    font-weight: bold;
}